!!!
%html
  %head
    %title Sohbet
    = stylesheet_link_tag 'web_app_theme'
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Sohbet app
        #user-navigation
          %ul.wat-cf
            - if user_signed_in?
              %li.logout= link_to "Logout", destroy_user_session_path, :method=> :delete
            - else
              %li.login= link_to "Login", new_session_path(:user)
              %li.signup= link_to "Sign up", new_registration_path(:user)
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Sohbet.
        #sidebar
          = yield :sidebar
